body {
  margin: 0;
  background-color: white;
  color: #333;
}

#editTitle,
#editBody {
  display: flex;
  flex-direction: row;
}
input,
textarea {
  width: 95%;
}

textarea {
  min-height: 500px;
  font-size: 14px;
  font-weight: 500;
}
.mainText {
  border-radius: 8px;
  background-color: #fff;
  padding: 30px;
  overflow-y: scroll;
  height: 500px;
}
.activeForm {
  border: 1px solid #4cb3f8;
  font-size: 24px;
  font-weight: 700;
  border-radius: 8px;
  padding: 5px 0 5px 20px;
}
.activeBodyForm {
  border: 1px solid #4cb3f8;
}
#editTitle {
  margin: 0 0 20px 0;
}
.inputSection {
  width: 75%;
}

.editSection {
  width: 25%;
}
.buttonSection {
  margin: 0 0 0 20px;
  display: inline;
}

.saveButton {
  background-color: #4cb3f8;
  color: white;
  border: 1px solid #4cb3f8;
  border-radius: 4px;
  font-weight: 500;
}
.activateEdit {
  width: 100px;
  background-color: #4cb3f8;
  color: white;
  border: 1px solid #4cb3f8;
  border-radius: 4px;
  font-weight: 500;
}
.cancelButton {
  background-color: rgb(204, 204, 204);
  color: white;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  font-weight: 500;
  margin-right: 5px;
}

#editTitle h2 {
  margin: 0;
}
.divider {
  width: 50px;
  height: auto;
  display: inline-flex;
  justify-content: flex-start;
}
.fillButton {
  background-color: #4cb3f8;
  color: white;
  border: 1px solid #4cb3f8;
  border-radius: 8px;
  font-weight: bold;
  width: 100px;
}
.outlineButton {
  border: 1px solid #4cb3f8;
  color: #4cb3f8;
  background-color: white;
  border-radius: 8px;

  width: 100px;
}
