.page {
  margin: 0;
  background-color: #fff;
  color: #333;
}

.pageContainer {
  display: flex;
  flex-direction: row;
}

#sideMenu {
  width: 33.3%;
}

#sideContainer {
  margin: 30px 0px 0 40px;
  position: relative;
  height: 100vh;
}

.sideTitle {
  font-size: 25px;
  margin: 0;
  margin-bottom: 20px;
}
.sideTitle img {
  vertical-align: middle;
}
.sideButton {
  position: relative;
  height: 44px;
  text-align: left;
  color: #333;
  text-decoration: none;
}
.sideButton p,
.activeButton p {
  margin: 5px 5px;
}
.activeButton,
.sideButton:hover {
  background-color: #f5f8fa;
  border-radius: 4px;
  color: #32a8f8;
  height: 44px;
  font-weight: bold;
}
#sideEdit {
  position: absolute;
  bottom: 0;
  text-align: right;
  background-color: #f5f8fa;
  width: 100%;
}
#sideEdit button,
.editArea button {
  background-color: #4cb3f8;
  color: white;
  border: 1px solid #4cb3f8;
  border-radius: 8px;
  width: auto;
}

#mainContent {
  width: 66.6%;
  border-left: 1px solid #f5f8fa;
  background-color: #fff;
}

#mainContainer {
  margin: 30px 40px 0 40px;
  padding: 30px;
  background-color: #f5f8fa;
  border-radius: 16px;
  position: relative;
}
.contentArea {
  width: 75%;
}
.mainTitle {
  margin: 20px 30px;
}

.mainText {
  border-radius: 8px;
  background-color: #fff;
  padding: 30px;
  overflow-y: scroll;
  height: 500px;
}
.editArea {
  width: 25%;
  margin-left: 20px;
  text-align: center;
}

#copyRight {
  position: absolute;
  bottom: 0;
}
