.page {
  background-color: white;
  color: #333;
}

.pageContainer {
  background-color: #f5f8fa;
  display: flex;
  flex-direction: row;
}

#sideMenu {
  width: 33%;
  height: 100vh;
}

#mainContent {
  width: 66%;
  height: 100vh;
}
